# Backend
PORT=3000
DATABASE_URL="file:./obolus.db"
JWT_ACCESS_SECRET="change-me-to-a-random-64-char-string"
JWT_REFRESH_SECRET="change-me-to-a-different-random-64-char-string"
CORS_ORIGIN="http://localhost:5173"

# Frontend
VITE_API_URL="http://localhost:3000/api/v1"
